* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 640px);
  padding-right: calc(50% - 640px);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  background-image: url("./img/backgroundImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1024px;
  padding-top: 220px;
}

.header__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  max-width: 790px;
}

.header__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  max-width: 481px;
  line-height: 32px;
  color: rgb(176, 175, 175);
  padding-bottom: 28px;
}

.header__span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  width: 481px;
  line-height: 32px;
  color: #ffffff;
}

.button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background: #9c0332;
  border-radius: 30px;
  padding: 13px 75px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background: #eb443f;
}

.product {
  display: flex;
  justify-content: space-between;
  background-color: #000915;
  flex-wrap: wrap;
  padding-top: 128px;
  padding-bottom: 128px;
}

.product__game {
  box-sizing: border-box;
  position: relative;
  text-align: left;
  cursor: pointer;
  width: 385px;
  transition: all 0.3s;
  border-radius: 16px;
}

.product__game:hover {
  box-shadow: 0px 0px 30px #1b4c8c;
}

.product__img {
  width: 100%;
  height: 100%;
}

.product__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.game-box {
  flex-wrap: nowrap;
}
.game-box__content {
  display: flex;
  max-width: 584px;
  gap: 32px;
  align-items: flex-start;
  flex-direction: column;
}
.game-box__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
}
.game-box__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.game-box__img {
  max-width: 485px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    align-items: center;
    height: 735px;
    background-position: 29%;
  }
  .header__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  .header__text {
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    width: 343px;
    color: #ffffff;
    padding-bottom: 0;
  }
  .product {
    gap: 32px;
  }
  .game-box {
    flex-wrap: wrap;
  }
  .game-box__content {
    text-align: center;
    align-items: center;
    order: 1;
  }
  .game-box__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
  }
  .game-box__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
  }
  .game-box__img {
    order: 2;
    max-width: 344px;
  }
}/*# sourceMappingURL=style.css.map */